<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Prasad Hydraboiny</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="css/main1.css">  
   <link rel="stylesheet" href="css/main.css">
   <link rel="stylesheet" href="css/main3.css">
   <!--<link rel="stylesheet" href="css/one.css">--> 
   <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	




        

    <!--script
   ================================================== -->   
	<script src="js/modernizr.js"></script>
	<script src="js/pace.min.js"></script>
	<script src="js/skill.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="favicon.png">


</head>

<body id="top">

	<!-- header 
   ================================================== -->

   <header>
   	<div class="topnav">
	  <a class="active" href="#intro">Home</a>
	  <a href="#about">About</a>
	  <a href="#resume">Resume</a>
	  <a href="#portfolio">Projects</a>
	  <a href="#services">Interests</a>
	  <a href="#contact">contact</a>

</div>
   </header>





	<!-- intro section
   ================================================== -->
   <section id="intro">   

   	<div class="intro-overlay"></div>	

   	<div class="intro-content">
   		<div class="row">

   			<div class="col-twelve">

	   			<h5>Hello I'm</h5>
	   			<h2>Sai Prasad Hydraboiny</h2>

	   			<p class="intro-position">
	   				<span>Electronics and Communication Engineer</span>
	   				
	   			</p>

	   			<a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

	   		</div>
	   		<ul class="intro-social">        
         <li><a href="https://www.facebook.com/saiprasad.bobby"><i class="fa fa-facebook"></i></a></li>
         <li><a href="https://www.linkedin.com/in/hydraboiny-saiprasad-5bb37a191/"><i class="fa fa-linkedin"></i></a></li>
         <li><a href="https://www.instagram.com/hydraboiny_saiprasad2k/"><i class="fa fa-instagram"></i></a></li>
         <li><a href="https://github.com/saiprasad-hydraboiny"><i class="fa fa-github"></i></a></li>
      </ul> <!-- /intro-social -->   
   			
   		</div>   		 		
   	</div> <!-- /intro-content --> 

   	    	

   </section> <!-- /intro -->


   <!-- about section
   	<div class="row section-intro">
   ================================================== -->
   <section id="about">  
   		<div class="col-twelve">
           
   			<center><h5>About</h5>
   			<h1><font color="DodgerBlue">Let me introduce myself.</font></h1></center>
                 
   			<div class="intro-info">

   				<!--<img src="images/profilelogo.jpg" alt="Profile Picture" height="32" width="20">-->

   				<p class="lead ">I'm a techie-enthusiastic person.I always give my 100% to secure a responsible carrer opportunity to fully utilize my training and skills,while making a significant contribution to the success of the company and to the betterment of the society</p>
   			</div>   			

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row about-content">

   		<div class="col-six tab-full">

   			<h3><font color="DodgerBlue">Profile</font></h3>
   			<p></p>

   			<ul class="info-list">
   				<li>
   					<strong>Fullname:</strong>
   					<span>Sai Prasad Hydraboiny</span>
   				</li>
   				<li>
   					<strong>Birth Date:</strong>
   					<span>Nov 13,2000</span>
   				</li>
   				<li>
   					<strong>Languages:</strong>
   					<span>English, Telugu, Hindi</span>
   				</li>
   				<li>
   					<strong>Email:</strong>
   					<span>prasadhydraboiny9122@gmail.com</span>
   				</li>

   			</ul> <!-- /info-list -->

   		</div>

   		<div class="col-six tab-full">

   			<h3><font color="DodgerBlue">Skills </font></h3>
   			<p></p>

				<!--<ul class="skill-bars">
				   <li>
				   	<div class="progress percent90"><span>90%</span></div>
				   	<strong>C++</strong>
				   </li>
				   <li>
				   	<div class="progress percent85"><span>85%</span></div>
				   	<strong>Python</strong>
				   </li>
				   <li>
				   	<div class="progress percent70"><span>50%</span></div>
				   	<strong>JAVA</strong>
				   </li>
				   <li>
				   	<div class="progress percent65"><span>85%</span></div>
				   	<strong>Data Structures</strong>
				   </li>
				   <li>
				   	<div class="progress percent50"><span>50%</span></div>
				   	<strong>DBMS & SQL</strong>
				   </li>
				   <li>
				   	<div class="progress percent95"><span>95%</span></div>
				   	<strong>HTML5</strong>
				   </li>
				   <li>
      				<div class="progress percent80"><span>80%</span></div>
				   	<strong>CSS3</strong>
				   </li>
				</ul>--> <!-- /skill-bars -->
							<div id="bars">
				<div class="bar" data-percent="85">
					<h3>C++</h3>
					<canvas class="bar-circle" width="70" height="70"></canvas>
				</div>
				<div class="bar" data-percent="80">
					<h3>py</h3>
					<canvas class="bar-circle" width="70" height="70"></canvas>
				</div>
				<div class="bar" data-percent="65">
					<h3>Java</h3>
					<canvas class="bar-circle" width="70" height="70"></canvas>
				</div>
				<div class="bar" data-percent="85">
					<h3>CSS3</h3>
					<canvas class="bar-circle" width="70" height="70"></canvas>
				</div>
				<div class="bar" data-percent="90">
					<h3>HTML5</h3>
					<canvas class="bar-circle" width="70" height="70"></canvas>
				</div>
				<div class="bar" data-percent="75">
					<h3>SQL</h3>
					<canvas class="bar-circle" width="70" height="70"></canvas>
				</div>
				<div class="bar" data-percent="90">
					<h3>DS</h3>
					<canvas class="bar-circle" width="70" height="70"></canvas>
				</div>
</div>	
		

   		</div>

   	</div>

   	<div class="row button-section">
   		<div class="col-twelve">
   			<a href="#contact" title="Hire Me" class="button stroke smoothscroll">Hire Me</a>
   			<a href="images/my resume.pdf" title="Download CV" class="button button-primary">Download Resume</a>
   		</div>   		
   	</div>

   </section> <!-- /process-->    


   <!-- resume Section
   ================================================== -->
	<section id="resume" class="grey-section">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5><font color="black">Resume</font></h5>
   			<h1><font color="DodgerBlue">More of my credentials.</font></h1>

   			<p class="lead">
   				Completed  certification courses on Python Programming,Networking, Web Development,App Development.
   			</p>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<!--<div class="row resume-timeline">
   		</div>  
   		<div class="col-twelve resume-header">
   			<h2>Projects</h2>
   		<div class="col-twelve">
   			<div class="timeline-wrap">
   				<div class="timeline-block">
	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>
	   				<div class="timeline-header">
	   					<h3>UI Designer</h3>
	   					<p>July 2015 - Present</p>
	   				</div>
	   				<div class="timeline-content">
	   					<h4>Awesome Studio</h4>
	   					<p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi.</p>
	   				</div>
	   			</div>  
	   			<div class="timeline-block">
	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>
	   				<div class="timeline-header">
	   					<h3>Front-end Developer</h3>
	   					<p>July 2014 - June 2015</p>
	   				</div>
	   				<div class="timeline-content">
	   					<h4>Super Cool Agency</h4>
	   					<p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi incididunt.</p>
	   				</div>
	   			</div> 
	   			<div class="timeline-block">
	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>
	   				<div class="timeline-header">
	   					<h3>Web Designer</h3>
	   					<p>May 2013 - June 2014</p>
	   				</div>
	   				<div class="timeline-content">
	   					<h4>Great Designs Studio</h4>
	   					<p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi incididunt.</p>
	   				</div>
	   			</div> 
   			</div>   			
   		</div>    		
   	</div> -->
   	
   	<!--<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2><font color="Red">Education</font></h2>

   		</div> /resume-header -->

   		<!--<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-suitcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Bachelor of Technology</h3>
	   					<p>August 2017 - Present</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>VNR Vignana Jyothi Institute of Engineering & Technology</h4>
	   					<p>CGPA 8.85/10</p>
	   				</div>

	   			</div> /timeline-block -->

	   			<!--<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-suitcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Intermediate</h3>
	   					<p>July 2015 - June 2017</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Sri Chaitanya Junior College</h4>
	   					<p>95.8%</p>
	   				</div>

	   			</div>  /timeline-block -->

	   			<!--<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-suitcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>SSC</h3>
	   					<p>May 2014 - June 2015</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Keshava Reddy Concept School</h4>
	   					<p>GPA 10/10</p>
	   				</div>

	   			</div>  /timeline-block -->

   			<!--</div>--> <!-- /timeline-wrap -->   			

   		<!--</div> --><!-- /col-twelve -->
   		
   	<!--</div> --><!-- /resume-timeline -->

   		<center><h2><font color="DodgerBlue">Education</font></h2></center>

   	    <div class="history-tl-container">
  <ul class="tl">
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        <strong><font color="Red">B.Tech</font></strong><br>Aug 2017-2021
      </div>
      <div class="item-title"><strong><font color="Red">VNR VJIET</font></strong></div>
      <div class="item-detail">CGPA:8.85/10.0</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        <strong><font color="Red">INTER</font></strong><br>May 2015- 2017
      </div>
      <div class="item-title"><strong><font color="Red">SRI CHAITANYA JUNIOR COLLEGE</font></strong></div>
      <div class="item-detail">PERCENTAGE:95.8%</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        <STRONG><font color="Red">SSC</font></STRONG><br>July 2014- 2015
      </div>
      <div class="item-title"><strong><font color="Red">KESHAVA REDDY CONCEPT SCHOOL</font></strong></div>
      <div class="item-detail">CGPA:10.0/10.0</div>
    </li>

  </ul>

</div>

   			<div class="row resume-timeline">
   				<div class="col-twelve resume-header">

   			<strong><h2><font color="DodgerBlue"> Achievments</font></h2></strong>

   		</div>
   			<center><div>	<ul style="list-style-type:none;">
   					<strong><li><font size="3px">Secured 2nd position in HealthCare 4.0 J-hub Hackathon</font></li></strong>
   					<strong><li><font size="3px">Selected in SIH internal Hackathon</font></li></strong>
   				</ul></div></center>

   			</div> 

		
	</section> <!-- /features -->


	<!-- Portfolio Section
   ================================================== -->
	<section id="portfolio">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5><font color="black">Projects</font></h5>
   			<h1><font color="DodgerBlue">My Works:</h1>

   			<p class="lead">I have worked on Interdisciplinary domains App Development,Web Development, Arduino.Let's have a look at some of my projects.</p>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row portfolio-content">

   		<div class="col-twelve">

   			<!-- portfolio-wrapper -->
	         <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

	         	<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="images/portfolio/IV.jpg" alt="Liberty">
	                  <a href="#modal-01" class="overlay">	                  	           
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
		     					       <h3 class="folio-title">AUTOMATIC IV DRIP STOPPER </h3>	     					    
		     					    	 <span class="folio-types">
		     					       	  IOT,App Development
		     					       </span>
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>	               
	        		</div> <!-- /folio-item -->

	        		<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="images/portfolio/air.webp" alt="Shutterbug">
	               	<a href="#modal-02" class="overlay">              		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">IOT BASED AIR POLLUTION DETECTOR</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  IOT,Matlab
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="images/portfolio/wire1.jpg"alt="Clouds">
	                  <a href="#modal-03" class="overlay">             		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">WIRELESS AC POWER DETECTOR</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="images/portfolio/voice1.jpg" alt="Beetle">
	                  <a href="#modal-04" class="overlay">                  	                 
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">VOICE RECOGNITION USING BLUETOOTH HC-06</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Arduino,App Development
		     					      </span>		     		
		     					   </div>  	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->     

	        		

	            <!-- modal popups - begin
	            ============================================================= -->
	            <div id="modal-01" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/portfolio/IV.jpg" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Automativ IV Drip Stopper</h4>		      
					      <p>To alert nurse before the bottle empties.
						To block the drip chamber automatically once the fluid is over to prevent the reverse flow of blood.</p>

					      <div class="categories">IOT</div>			               
					   </div>

			         <div class="link-box">
			            <a href="">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-01 -->

				   <div id="modal-02" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/portfolio/air.webp" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>IOT BASED AIR POLLUTION DETECTOR</h4>		      
					      <p>Detecting Air Pollution Index </p>

					      <div class="categories">python,IOT</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://github.com/developers-cosmos/IOT-BASED-AIR-POLLUTION-DETECTOR">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-02 -->

				   <div id="modal-03" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/portfolio/wire1.jpg" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Wireless AC power Detector</h4>		      
					      <p>Detecting the power flow in the wire without physical contact with the wire</p>

					      <div class="categories">power amplifiers</div>			               
					   </div>

			         <div class="link-box">
			            <a href="">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-03 -->

				   <div id="modal-04" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/portfolio/voice1.jpg" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Voice Recognition using Bluetooth HC-06</h4>		      
					      <p>controlling LEDS,MOTORS using voice commands through mobile</p>

					      <div class="categories">Arduino</div>			               
					   </div>

			         <div class="link-box">
			            <a href="">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-04 -->




				   <!-- modal popups - end
	            ============================================================= -->

	         </div> <!-- /portfolio-wrapper --> 

   		</div>  <!-- /twelve -->   

   	</div> <!-- /portfolio-content --> 
		
	</section> <!-- /portfolio --> 


	
	
	<!-- services Section
   ================================================== -->
   <section id="services">

		<CENTER><h2> <font color="white">INTERESTS</h2></font></CENTER>
	        <div class="row">
	          <div class="col-sm-4">
	            <h5 class="text-center"><font color="white"><strong>CRICKET</strong></h5></font>
	              <center><img src="./images/rohitsharma.jpg"  class="img-circle" alt="Cinque Terre" width="304" height="236" style="margin-bottom: 40px;border-radius: 60%"></center>
	          </div>
	          <div class="col-sm-4">
	            <h5 class="text-center"><font color="white"><strong>APP DEVELOPING</strong></h5></font>
	              <center><img src="./images/Mobile-App.png" class="img-circle" alt="Cinque Terre" width="304" height="236" style="margin-bottom: 40px;border-radius: 50%"></center>
	            </a>
	          </div>
	          <div class="col-sm-4">
	            <h5 class="text-center"><font color="white"><strong>GAMING</strong></h5></font>
	              <center><img src="./images/gaming.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236" style="margin-bottom: 40px;border-radius: 50%"></center>
	          </div>
	              </div>
	              <div class="row">
	                <div class="col-sm-4">
	                  <h5 class="text-center"><font color="white"><strong>WEB DEVELOPING</strong></h5></font>
	                    <center><img src="./images/web.jpg"class="img-circle" alt="Cinque Terre" width="304" height="236"style="margin-bottom: 40px;border-radius: 50%"></center>
	                </div>
                <!--<div class="col-sm-4">
                  <h5 class="text-center"><strong> POETRIES</strong></h5>
                    <img src="./images/interests/shayar.jpg" class="rounded-circle person" alt="Random Name" width="200px" height="200px" style="margin-bottom: 40px">
                  </a>
                </div>-->
                <!--<div class="col-sm-4">
                  <h5 class="text-center"><strong>SOCCER</strong></h5>
                    <img src="./images/interests/footb.png" class="rounded-circle person" alt="Random Name" width="200px" height="200px" style="margin-bottom: 40px">
                </div>-->
                    </div>     
      </div>
  </section>

	
	
   <!-- contact
   ================================================== -->
	<section id="contact">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5><font color="DodgerBlue"> Contact</font></h5>
   			<h1>Looking forward to hear from you...</h1>

   			<p class="lead"></p>

   		</div> 
   	</div> <!-- /section-intro -->

   	<div class="row contact-form">

   		<div class="col-twelve">

            <!-- form -->
            <form name="contactForm" id="contactForm" method="post" action="">
      			<fieldset>

                  <div class="form-field">
 						   <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="">
                  </div>
                  <div class="form-field">
	      			   <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="">
	               </div>
                  <div class="form-field">
	     				   <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="">
	               </div>                       
                  <div class="form-field">
	                 	<textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required=""></textarea>
	               </div>                      
                 <div class="form-field">
                     <button class="submitform">Submit</button>
                     <div id="submit-loader">
                        <div class="text-loader">Sending...</div>                             
       				      <div class="s-loader">
								  	<div class="bounce1"></div>
								  	<div class="bounce2"></div>
								  	<div class="bounce3"></div>
								</div>
							</div>
                  </div>

      			</fieldset>
      		</form> <!-- Form End -->

            <!-- contact-warning -->
            <div id="message-warning">            	
            </div>            
            <!-- contact-success -->
      		<div id="message-success">
               <i class="fa fa-check"></i>Your message was sent, thank you!<br>
      		</div>

         </div> <!-- /col-twelve -->
   		
   	</div> <!-- /contact-form -->

   	<div class="row contact-info">

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="fa fa-map-marker"></i>
   			</div>

   			<h5><font color="DodgerBlue">Where to find me</font></h5>

   			<p><font color="white">
            H.no 9-78 vidyanagar Colony<br>
            Sangareddy X Roads<br>
            Telanagana</font>
            </p>

   		</div>

   		<div class="col-four tab-full collapse">

   			<div class="icon">
   				<i class="fa fa-envelope"></i>
   			</div>

   			<h5><font color="DodgerBlue">Email Me :</font></h5>

   			<p><font color="white">prasadhydraboiny9122@gmail.com<br></font>
			 		     
			   </p>

   		</div>

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="fa fa-phone"></i>
   			</div>

   			<h5><font color="DodgerBlue">Call Me :</font></h5>

   			<p><font color="white">Phone: (+91) 7981082761<br>
   				Mobile: (+91) 7901258849</font>
			   	
			   </p>

   		</div>
   		
   	</div> <!-- /contact-info -->
		
	</section> <!-- /contact -->


   <!-- footer
   ================================================== -->

   <footer>
     	<div class="row">

     		<div class="  text-center " style="padding-top: 30px;">
            <a href="https://github.com/saiprasad-hydraboiny" class="fa fa-github"></a>
            <a href="https://www.linkedin.com/in/hydraboiny-saiprasad-5bb37a191/" class="fa fa-linkedin"></a>
            <a href="https://www.instagram.com/hydraboiny_saiprasad2k/" class="fa fa-instagram"></a>
            <a href="https://www.facebook.com/saiprasad.bobby" class="fa fa-facebook"></a>
            </div>

      	<div class="col-eight tab-full">
	      	<div class="copyright">
		        	       	
		         </div>		                  
	      	</div>

	      	<div id="go-top">
		         <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
		      </div>

      	</div> <!-- /row -->     	
   </footer>  

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="js/jquery-2.1.3.min.js"></script>
   <script src="js/plugins.js"></script>
   <script src="js/main.js"></script>

</body>

</html>
